.btn {
  &:link,
  &:visited {
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
  }
  &:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    &::after {
      transform: scalex(1.125) scaleY(1.5);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s;
  }
  &--white {
    color: $color-gray-dark;
    background-color: $color-white;
    &::after {
      background-color: rgba($color-white, .5);
    }
  }
  &--animated {
    animation: moveInBottom .5s ease-out .75s;  /* animation-name duration timing-function delay  */
    animation-fill-mode: backwards;
  }
}
